# ASSIGNMENT 3

# 1.PYTHON FUNCTION TO FIND MAX OF THREE NUMBER

In [2]:
def max_of_two( x, y ):
    if x > y:
        return x
    return y
def max_of_three( x, y, z ):
    return max_of_two( x, max_of_two( y, z ) )
print(max_of_three(6666,77777,888888))

888888

# 2.CHECKS WHETHER A PASSED STRING IS PALINDROME OR NOT

In [12]:
def isPalindrome(string):
    left_pos = 0
    right_pos = len(string) - 1
    
    while right_pos >= left_pos:
        if not string[left_pos] == string[right_pos]:
            return False
        left_pos += 1
        right_pos -= 1
    return True
print(isPalindrome("tattarrattat"))

True

# 3.ACCEPTS A STRING AND CALCULATE THE NUMBER OF UPPERCASE AND LOWERCASE

In [8]:
def string_test(s):
    d={"UPPER_CASE":0, "LOWER_CASE":0}
    for c in s:
        if c.isupper():
           d["UPPER_CASE"]+=1
        elif c.islower():
           d["LOWER_CASE"]+=1
        else:
           pass
    print ("Original String : ", s)
    print ("No. of Upper case characters : ", d["UPPER_CASE"])
    print ("No. of Lower case Characters : ", d["LOWER_CASE"])

string_test("I Love My Country")

Original String :  I Love My Country
No. of Upper case characters :  4
No. of Lower case Characters :  10

# 4. SUM ALL THE NUMBERS IN A LIST

In [11]:
def sum(numbers):
    total = 0
    for x in numbers:
        total += x
    return total
print(sum((1,12,13,14,15,16,17,18,19,10)))

135

# 5. TO MULTIPLY ALL THE NUMBERS IN A LIST

In [14]:
def multiply(numbers):  
    total = 1
    for x in numbers:
        total *= x  
    return total  
print(multiply((23,32,45,54,67,76)))

9106940160

# 6. TAKES A LIST AND RETURN A NEW LIST WITH UNIQUE ELEMENTS OF THE FIRST LIST

In [16]:
def unique_list(l):
  x = []
  for a in l:
    if a not in x:
      x.append(a)
  return x

print(unique_list([4,5,6,7,8,1,2,3,4,66,77,88,4,2,3]))

[4, 5, 6, 7, 8, 1, 2, 3, 66, 77, 88]